<li>
  <a href="#sdtoggle">Standard toggle</a>
  <ul class="nav">
    <li><a href="#sdtoggle-basic">Standard toggle - Basic</a></li>
    <li><a href="#sdtoggle-label">Standard toggle - Label</a></li>
    <li><a href="#sdtoggle-icon">Standard toggle - Icon</a></li>
  </ul>
</li>
<li>
  <a href="#preloaders">Preloaders</a>
  <ul class="nav">
    <li><a href="#preloaders-spinning">Spinning preloader</a></li>
    <li><a href="#preloaders-spinning-sizes">Spinning preloader sizes</a></li>
    <li><a href="#preloaders-linear">Linear preloader</a></li>
    <li><a href="#preloaders-linear-sizes">Linear preloader sizes</a></li>
  </ul>
</li>
